@using ConsumableWarehouse.Domain.Entities

<table class="table">
    <thead>
        <tr>
            <th>Company name</th>
            <th>Trading name</th>
            <th>Contact email address</th>
            <th>Contact phone number</th>
            <th># Affiliate products</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var partner in partners)
        {
            <tr @key="partner.Id">
                <td>@partner.CompanyName</td>
                <td>@partner.TradingName</td>
                <td>@partner.ContactEmailAddress</td>
                <td>@partner.ContactPhoneNumber</td>
                <td>@partner.AffiliateProducts.Count</td>
                <div class="d-flex flex-row align-items-center gap-2">
                    <button type="button" @onclick="() => OpenUpdateModal(partner)" class="btn btn-sm">
                        <i class="bi bi-pen" />
                    </button>
                    <button type="button" @onclick="() => OpenDeleteModal(partner)" class="btn btn-sm">
                        <i class="bi bi-trash" />
                    </button>
                </div>
            </tr>
        }
    </tbody>
</table>

@code {
    [CascadingParameter] public IModalService Modal { get; set; } = default!;

    [Parameter] public IEnumerable<Partner> partners { get; set; }

    [Parameter] public EventCallback<Partner> OnPartnerDeleted { get; set; }

    [Parameter] public EventCallback<Partner> OnPartnerUpdated { get; set; }

    private async Task OpenUpdateModal(Partner partner)
    {
        var modal = Modal.Show<UpdatePartnerModal>("Update partner",
            new ModalParameters
            {
                { "Partner", partner }
            },
            new ModalOptions
            {
                Position = ModalPosition.Middle,
            });

        var result = await modal.Result;

        if (!result.Cancelled && result.Data is bool success && success)
        {
            await OnPartnerUpdated.InvokeAsync(partner);
        }
    }

    private async Task OpenDeleteModal(Partner partner)
    {
        var modal = Modal.Show<DeletePartnerModal>("Are you sure you would like to delete this partner?", 
            new ModalParameters
            {
                { "Partner", partner }
            },
            new ModalOptions
            {
                Position = ModalPosition.Middle,
            });

        var result = await modal.Result;

        if (!result.Cancelled && result.Data is bool success && success)
        {
            await OnPartnerDeleted.InvokeAsync(partner);
        }
    }
}
